/*Universal Selector, all text will be Century Gothic unless over-ruled*/
/*Has a fallback font of Segoe UI*/
* {
    font-family: "Century Gothic", "Segoe UI";
}

/* Start: Trusting Banner at the top*/
/*Background image of the Top Header and the footer to the gradient*/
#Header, footer {
    Background-image: url("Images/OnEveryPage/Trust Banner/Background.png");
}
/*In the trust us header at the very top, the h3 tag should have a font size of 14px*/
.Trust-Header h3 {
    font-size: 14px;
}
/* End: Trusting Banner at the top*/

/* All links will be white (instead of blue) and no underline until hover */
a {
    color: #FFFFFF;
    text-decoration: none;
}

/* If hover then allow the link to have an underline under it,
this makes it more recognisable that it is a link*/
a:hover {
    text-decoration: underline;
}
/*Apply a border of black, the width being 3px to the input box of the search bar and the button*/
.searchBox, .searchButton  {
    border: 3px solid #000000;
}
/*In the input bar, round the top left and bottom left corners 6px and give it a font of Arial,
with a fall back of Segoe UI (which decreases the search bar)*/
.searchBox {
    border-radius: 6px 0 0 6px;
    font-family: "Arial", "Segoe UI";
}
/*For the search button, add a black background and round the top right and bottom right corners 6px*/
.searchButton {
    background-color: #000000;
    border-radius: 0 5px 5px 0;
}

/* On search box hover or on focus change the border color of the search box to grey  */
.searchBox:hover,
.searchBox:focus {
    border-color: #a7a7a7;
}

/* On search box button hover change the background color of the search box to grey,
not the border color because it doesn't look right  */
.searchButton:hover,
.searchButton:focus {
    background-color: #a7a7a7;
}

/* To get rid of the X button of the search box, the X isn't neccessary because the user can use the keyboard to get
rid of what they are searching, this would be ideal for long text*/
.searchBox::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*End: Search Bar*/

/*Start: Nav Bar*/
/*Some of this code was already in here this CSS applies to the menu items as a whole and the sub menu.
 the styling of the background colour is set to black, the font size is 15px and the colour of that is white.
 The width of each menu item is 200px, enough width to fill out the whole of the 1024 x 768 but not going over.*/
.menuItem, .subMenu {
    background-color: black;
    color: white;
    font-size: 15px;
    width: 200px;
}

/*The whole navbar menu itself, background colour is black and it fits all the way width-wise and takes up the screens width,
with this, center all the items to the middle*/
.navmenu {
    background-color: black;
    width: 100%;
    text-align: center;
}

/*If an item on the navbar is highlighted, then change background to dark-blue*/
.chosenItem {
    background-color: #1B3C7D;
}
/*End: Nav Bar*/

/*Change the whole body's colour to light grey*/
body {
    background-color: #E4E4E4;
}

/*Start: Footer*/
/*Set all text colour in the footer to white*/
footer {
    color: white;
}

/*Set all h1 tags in the footer to a font size of 18px, to show a title*/
footer h1 {
    font-size: 18px;
}

/*Set all h2 tags in the footer to a font size of 16px, to show a heading but not more important than the title*/
footer h2 {
    font-size: 16px;
}
/*Set all h4 tags in the footer to a font size of 14px, to show a sub menu, that is less important than title and heading*/
footer h4 {
    font-size: 14px;
}
/*All sections of the footer that include text should have a float of left*/
.footerTextSection {
    float: left;
}
/*End: Footer*/

/*Add a curve onto many elements that have this has a class. 10px curve each side */
.curveRadius {
    border-radius: 10px;

    /*For Firefox (cross browser)*/
    -moz-border-radius: 10px;
    
    /*For safari (cross browser)*/
    -webkit-border-radius: 10px;
}

#Main_Body a {
    color: #143576;
}